* {
  box-sizing: border-box;
}
div#root {
  height: 100vh;
  padding-top: 15vh;
}
#App {
  border: 1px solid black;
  width: 50vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}
#App textarea,
#App p {
  width: 100%;
  resize: none;
}
#App textarea {
  height: 30%;
}
#App p {
  margin: 0;
  height: 65%;
  overflow: scroll;
  word-wrap: break-word;
}
#App h3 {
  margin: 0 0 2% 0;
  text-align: center;
}
